/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	position: relative;
	line-height: 1;
	background-color: #e0e0e0;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
  vertical-align: top;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* CUSTOM FONTS... */

@font-face {
	font-family: 'Gotham-Lighter';
	src: url(../gotham-lighter.otf);
}

/*@font-face {
	font-family: ;
	src: url(../);
}*/

@font-face {
	font-family: 'Martell';
	src: url(../reg.otf);	
}

@font-face {
	font-family: 'Gotham-Light';
	src: url(../gotham-light.ttf);
}

@font-face {
	font-family: 'Gotham-Bolder';
	src: url(../gotham-bolder.otf);
}

#spa {
	/*position: relative;*/
}

/* UTILITY CLASSES... */

.text-align-center {
	text-align: center;
}

.display-none {
	display: none;
}

.display-inline-block {
	display: inline-block;
}

.position-relative {
	position: relative;
}

.display-block {
	display: block;
}

.notice {
	font-size: 0.5em;
}

/* DEFAULT VIEW STYLES... */

.view-container {
	width: 100%;
	height: 100vh;
}

.default-full-background-image {
	background: url(../background.png) no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

#social-media-icon-container {
	position: absolute;
	right: 0;
	padding: 48px 48px 0 0;
	color: #fefefe;
	font-size: .5em;
}

#social-media-icon-container img {
	padding: 5px;
	display: inline;
}

#default-logo {
	margin: 3.5em auto 0 auto;
}

#primary-heading {
	font-family: 'Martell', sans-serif;
	padding: 0.4em 0 0.2em 0;
	font-size: 6em; 
	color: #888888;
}

#primary-sub-heading {
	color: #fefefe;
	line-height: 18px;
	padding: 0.3em 0 0.5em 0;
	font-size: 1em;
	font-family: 'Gotham-Light';
}

#quest-button {
	text-align: center;
	display: block;
	margin: 1.1em auto 1.2em auto;
	width: 13em;
	font-size: 22pt;
	padding: 0.6em 0.8em 0.6em 0.8em;
	font-family: 'Gotham-Bolder', sans-serif;
	background-color: #026b5d;
	color: #ffffff;
	text-decoration: none;
}

@media screen and (max-width:768px) {
  
	#default-logo {
  		height: 200px;
  		width: 200px;
  	}

  	#primary-heading {
  		padding: 0.3em 0 0.3em 0;
		font-size: 3.2em; 
  	}	

  	#primary-sub-heading {
  		padding: 0.8em 0 0.8em 0;
		font-size: 0.7em;
  	}

  	#quest-button {
  		margin: 1em auto;
		width: 7em;
		font-size: 15pt;
		padding: 0.7em 0.3em 0.7em 0.3em;
  	}

}

@media screen and (max-width:500px) {

	#default-logo {
  		height: 150px;
  		width: 150px;
  	}

  	#primary-heading {
  		padding: 0.2em 0 0.2em 0;
		font-size: 1.8em; 
  	}

  	#primary-sub-heading {
  		padding: 0 0 0.5em 0;
		font-size: 0.5em;
  	}	

  	#quest-button {
  		margin: 1em auto;
		width: 7em;
		font-size: 13pt;
		padding: 0.5em 0.3em 0.5em 0.3em;
  	}

}

/* FOOTER STYLES... */

.footer-subview {
	z-index: 10;
	font-family: 'Gotham-Light', sans-serif;
	overflow: visible !important;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 80px;
	background-color: #a0a0a0;
}

#footer-button {
	display: block;
	line-height: 70px;
	font-size: 1.8em;
	font-weight: bolder;
	text-align: center;
	cursor: pointer;
	border-radius: 100px;
	height: 70px;
	width: 70px;
	background-color: #a0a0a0;
	position: absolute;
	bottom: 1.1em;
	left: 0;
	right: 0;
	margin: 0 auto 0 auto;
}

#footer-button img {
	padding-bottom: 0.15em;
}

.box-rotate {
  -webkit-transform: rotate(180deg);  /* Chrome, Safari 3.1+ */
    -moz-transform: rotate(180deg);  /* Firefox 3.5-15 */
      -ms-transform: rotate(180deg);  /* IE 9 */
        -o-transform: rotate(180deg);  /* Opera 10.50-12.00 */
         transform: rotate(180deg);  /* Firefox 16+, IE 10+, Opera 12.50+ */
}

.box-rotate-two {
  -webkit-transform: rotate(0deg);  /* Chrome, Safari 3.1+ */
    -moz-transform: rotate(0deg);  /* Firefox 3.5-15 */
      -ms-transform: rotate(0deg);  /* IE 9 */
        -o-transform: rotate(0deg);  /* Opera 10.50-12.00 */
         transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera 12.50+ */
}

.box-transition {
  -webkit-transition: all 0.5s ease-out;  /* Chrome 1-25, Safari 3.2+ */
     -moz-transition: all 0.5s ease-out;  /* Firefox 4-15 */
       -o-transition: all 0.5s ease-out;  /* Opera 10.50–12.00 */
          transition: all 0.5s ease-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.50+ */
}

.footer-subview h4 {
	font-family: 'Gotham-Light', sans-serif;
	position: fixed;
	z-index: 10;
	bottom: 30px;
	color: #ffffff;
	width: 200px;
	left: 50%;
	margin-left: -101px;
	font-size: 0.8em;
	/*margin-top: 2.3em;*/
}

.footer-subview button {
	cursor: pointer;
	font-size: 1.2em;
	border: 1px solid #e0e0e0;
	font-family: 'Gotham-Light', sans-serif;
	height: 30px;
	border-radius: 0;
	width: 300px;
	color: #a0a0a0;
	height: 50px;
	margin: 0.5em auto 0.5em auto;
}

#footer-subview-container-one {
	padding-top: 40px;
}

.notice-msg {
	position: fixed;
	left: 50%;
	margin-left: -361px;
	color: #fefefe;
	font-size: 0.7em;
	width: 330px;
}


/* The 'or' in the footer... */
#footer-or {
	font-size: 1.5em;
	color: #555;
	margin-top: 1em;
	margin-left: 0.9em;
	margin-right: 0.9em;
	display: inline-block;
}

.white-background-color {
	background-color: #ffffff;
	color: #555;
	border: 1px solid #555;
}

.blue-background-color {
	color: #fefefe;
	background-color: #3b5598;
	border: 1px solid #3b5598;
}

#footer-subview-container-two {
}

#footer-subview-container-two span {
	display: inline-block;
	padding-top: 10px;
	color: #555;
	font-size: 1.2em;
}

#footer-subview-container-two a {
	color: #10a5e8;
}

@media screen and (max-width:768px) {

	/*#footer-subview-container-one {
		padding-bottom: 8px;
	}

	.footer-subview button {
		cursor: pointer;
		font-size: 1.2em;
		color: #fefefe;
		font-family: 'Gotham-Light', sans-serif;
		height: 30px;
		border-radius: 0;
		width: 250px;
		height: 50px;
		margin: 0.5em auto 0.5em auto;
	}

	#footer-or {
		font-size: 0.5em;
		color: #ffffff;
		margin-top: 0.55em;
		margin-left: 0.6em;
		margin-right: 0.6em;
		font-size: 2.4em;
		display: inline-block;
	}

	.notice-msg {
		position: fixed;
		left: 50%;
		margin-left: -351px;
		color: #fefefe;
		font-size: 0.7em;
		width: 330px;
	}*/

}

@media screen and (max-width:500px) {
  
	/*.footer-subview {
		height: 55px;
	}

	#footer-button {
		line-height: 70px;
		font-size: 1.8em;
		height: 55px;
		width: 55px;
		bottom: 15px;
	}

	#footer-button img {
		padding-bottom: 0.15em;
	}

	.footer-subview h4 {
		font-size: 0.9em;
		bottom: 7px;
	}

	#footer-or {
		font-size: 20px;
		color: #ffffff;
		margin-top: 0.1em;
		margin-left: 0.6em;
		margin-right: 0.6em;
		display: block;
	}

	.white-background-color {
		background-color: #ffffff;
	}

	.blue-background-color {
		background-color: #3b5598;
	}

	#footer-subview-container-one {
		padding-top: 5px;
		position: fixed;
		z-index: 10;
		border: 1px solid blue;
		margin-top: 26px;
		left: 50%;
		margin-left: -120px;
	}

	#foter-subview-container-one button {
		cursor: pointer;
		font-size: 0.1em;
		color: #fefefe;
		font-family: 'Gotham-Light', sans-serif;
		height: 15px;
		border-radius: 0;
		width: 100px;
		height: 50px;
		margin: 0 auto 0 auto;
	}


	#footer-subview-container-two {
		margin: 0 auto;
		display: none;
	}

	#footer-subview-container-two span {
		padding-top: 2px;
		font-size: 0.7em;
		display: none;
		margin: 0 auto;
	}

	#footer-subview-container-two a {
		color: #10a5e8;
	}

	.notice-msg {
		position: fixed;
		left: 50%;
		margin-left: -372px;
		color: #fefefe;
		font-size: 0.7em;
		width: 330px;
		display: none;
	}*/

}

/* MODALS... */

.overlay {
  	position: fixed;
  	top: 0;
  	left: 0;
  	height: 100%;
  	width: 100%;
  	z-index: 10;
  	background-color: rgba(0,0,0,0.5);
}

.modal {
    /* some styles to position the modal at the center of the page */
    position: fixed;
    top: 50%;
    left: 50%;
    width: 400px;
	    height: 500px;
    margin-left: -202px;
    margin-top: -240px;
    background-color: #ccc;
    text-align: center;
    /* needed styles for the overlay */
    z-index: 10; /* keep on top of other elements on the page */
    outline: 9999px solid rgba(0,0,0,0.5);
}

.modal-header {
	padding-top: 15px;
	height: 100px;
	width: 100%;
	color: #fefefe;
	background-color: #aaa;
}

.modal-btn {
	color: #fefefe;
}

.modal-heading {
	font-size: 1.5em;
	padding: 30px 0 10px 0;
}

.modal input[type=text], input[type=password] {
	display: block;
	padding: 10px 20px 10px 20px;
	margin: 15px auto;
	font-size: 1.5em;
	font-family: 'Gotham-Light', sans-serif;
}

/* QUEST LIST VIEW STYLES... */

.mini-logo {
	position: fixed;
	left: 50%;
	margin-left: -16px;
}

.quest-list-container {
	width: 1200px;
	margin: 0 auto;
	/*padding: 20px 0 20px 0;*/
}

/*.header-back-btn {
	position: absolute;
	top: 13px;
	font-weight: 900;
	text-align: center;
	left: 10px;
	display: block;
	width: 5em;
	background-color: #10b5b8;
	padding: 0.8em;
	font-size: 0.9em;
	border-radius: 0.5em;
	color: #fefefe;
	text-decoration: none;	
	border: 1px solid #10b5b8;
}*/

#quest-list-view-header {
	width: 100%;
	z-index: 10;
	position: fixed;
	top: 0;
	padding-top: 6.5px;
	height: 55px;
	background: url(../background.png) no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	background-color: #e0e0e0;
}

#quest-list-view-heading {
	font-size: 3em;
	color: #10b5b8;
	text-align: center;
	margin-bottom: 17px;
	font-family: 'Martell', sans-serif;
	/*margin-top: 75px;*/
}

.extra-margin {
	padding-top: 85px;
	padding-bottom: 85px;
}

.dashed-line-div {
	width: 1200px;
	border: 1px dashed #888;
	margin: 10px auto 10px auto;
}

.border-listing {
	margin: 40px 0 40px 0;
	border: 3px solid #a0a0a0;
}

.quests-list {
	padding: 15px 6px 15px 6px;
}

.quests-list-slider-img {
	height: 150px;
	border: 1px solid #e0e0e0;
	background-color: #e0e0e0;
}

/*.library-box {
	margin: 15px 10px 15px 10px;
}*/

.section {
	height: 500px;
}

.aside {
	padding-top: 28px;
	height: 500px;
}

.quests-list-background {
	height: 100vh;
	overflow: visible;
}

@media screen and (min-width:600px) {
  section {
    float: left;
    width: 50%;
    text-align: center;
  }
  aside {
    margin-left: 50%;
  }
}

/*@media screen and (max-width:599px) {
  aside  {
    display: inline;
  }
}*/

.quests-list div {
	/*border: 3px solid #b0b0b0;*/
	background-color: #fafafa;
}

.quest-heading {
	font-family: "Gotham-Light", sans-serif;
	margin-left: 5px;
	font-size: 4em;
	color: #10b5b8;
}

/*.quest-stats-container-slider {
	height: 40px;
	background-color: #10b5b8;
	color: #fefefe;
	margin: 5px 0 5px 0;
}*/

.quest-info {
	font-family: "Gotham-Light", sans-serif;
	padding: 10px 8px 10px 8px;
}

.quest-info a {
	color: #10b5b8;
	text-decoration: none;
}

.quest-register-btn {
	width: 380px;
	font-family: 'Gotham-Light', sans-serif;
	text-decoration: none;
	display: block;
	padding: 0.5em;
	background-color: #fefefe;
	color: #10b5b8;
	margin: 70px auto 10px auto;
	text-align: center;
	font-size: 2em;
	border: 2px solid #10b5b8;
}

.extra-padding {
	padding-top: 230px;
}

.item-display-container {
	position: absolute;
	border: 1px solid red;
	left: 50%;
	width: 500px;
	font-family: "Gotham-Light", sans-serif;
	margin-left: -260px;
	z-index: 10;
	color: #fefefe;
}

.dynamic-top-measure {
	top: 40%;
}

/* Spinner... */

/* For Testing... */

/*#spinner-container {
	position: absolute;
	top: 35%;
    left: 44%;
}*/

/* Slider... */

/* http://www.menucool.com */

#sliderFrame 
{
	top: 2em;
    position:relative;
    width:460px;
    margin:0 auto; /*center-aligned*/
}

#slider, #slider div.sliderInner {
    width:460px;height:300px;/* Must be the same size as the slider images */
}

#slider {
	background:#fff url(loading.gif) no-repeat 50% 50%;
	position:relative;
	margin:0 auto; /*center-aligned*/
    transform: translate3d(0,0,0);
    box-shadow: 0px 1px 5px #999999;
}

/* image wrapper */
#slider a.imgLink, #slider div.video {
	z-index:2;
	position:absolute;
	top:0px;left:0px;border:0;padding:0;margin:0;
	width:100%;height:100%;
}
#slider .video {
	background:transparent url(video.png) no-repeat 50% 50%;
}

/* Caption styles */
#slider div.mc-caption-bg, #slider div.mc-caption-bg2 {
	position:absolute;
	width:100%;
	height:auto;
	padding:10px 0;/* 10px will increase the height.*/
	left:0px; /*if the caption needs to be aligned from right, specify by right instead of left. i.e. right:20px;*/
	bottom:0px;/*if the caption needs to be aligned from top, specify by top instead of bottom. i.e. top:150px;*/
	z-index:3;
	overflow:hidden;
	font-size: 0;
}
#slider div.mc-caption-bg 
{
    /* NOTE: Its opacity is to be set through the sliderOptions.captionOpacity setting in the js-image-slider.js file.*/
	background:Black;/* or any other colors such as White, or: background:none; */
}
#slider div.mc-caption-bg2 {
    background:none;
}
#slider div.mc-caption {
	font: bold 14px/20px Arial;
	color:#EEE;
	z-index:4;
	text-align:center;
    background:none;
}
#slider div.mc-caption a {
	color:#FB0;
}
#slider div.mc-caption a:hover {
	color:#DA0;
}


/* ------ built-in navigation bullets wrapper ------*/
/* Note: check themes\2\js-image-slider.css to see how to hide nav bullets */
#slider div.navBulletsWrapper  {
    top:320px;/* Its position is relative to the #slider */
	text-align:center;
	background:none;
	position:relative;
	z-index:5;
}

/* each bullet */
#slider div.navBulletsWrapper div 
{
    width:11px; height:11px;
    font-size:0;color:White;/*hide the index number in the bullet element*/
    background:transparent url(bullet.png) no-repeat 0 0;
    display:inline-block; *display:inline; zoom:1;
    overflow:hidden;cursor:pointer;
    margin:0 6px;/* set distance between each bullet*/
}

#slider div.navBulletsWrapper div.active {background-position:0 -11px;}


/* --------- Others ------- */

#slider div.loading 
{
    width:100%; height:100%;
    background:transparent url(loading.gif) no-repeat 50% 50%;
    filter: alpha(opacity=60);
    opacity:0.6;
    position:absolute;
    left:0;
    top:0; 
    z-index:9;
}

#slider img, #slider>b, #slider a>b {
	position:absolute; border:none; display:none;
}

#slider div.sliderInner {
	overflow:hidden; 
	-webkit-transform: rotate(0.000001deg);/* fixed the Chrome not crop border-radius bug*/
	position:absolute; top:0; left:0;
}

#slider>a, #slider video, #slider audio {display:none;}