* {
  vertical-align: top;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
	font-family: 'Gotham-Lighter';
	src: url(../gotham-lighter.otf);
}

@font-face {
	font-family: 'Martell';
	src: url(../reg.otf);	
}

@font-face {
	font-family: 'Gotham-Light';
	src: url(../gotham-light.ttf);
}

@font-face {
	font-family: 'Gotham-Bolder';
	src: url(../gotham-bolder.otf);
}

.text-align-center {
	text-align: center;
}

.display-none {
	display: none;
}

.display-inline-block {
	display: inline-block;
}

.position-relative {
	position: relative;
}

.display-block {
	display: block;
}

.notice {
	font-size: 0.5em;
}