.overlay {
  	position: fixed;
  	top: 0;
  	left: 0;
  	height: 100%;
  	width: 100%;
  	z-index: 10;
  	background-color: rgba(0,0,0,0.5);
}

.modal {
    position: fixed;
    text-align: center;
    top: 50%;
    left: 50%;
    width: 400px;
	height: 500px;
    margin-left: -202px;
    margin-top: -240px;
    background-color: #ccc;
    z-index: 10;
    outline: 9999px solid rgba(0,0,0,0.5);
}

.modal-header {
	height: 60px;
	color: #fefefe;
	background-color: #aaa;
}

.modal-header span {
    padding-left: 5px;
    padding-top: 20px;
    float: left;
}

.modal-header img {
    padding-left: 10px;
    padding-top: 20px;
    float: left;
}

.modal input[type=text], input[type=password] {
	display: block;
	padding: 10px 20px 10px 20px;
	margin: 15px auto;
	font-size: 1.5em;
	font-family: 'Gotham-Light', sans-serif;
}


@media screen and (max-width:1100px) {

.modal {
    position: fixed;
    text-align: center;
    top: 50%;
    left: 50%;
    width: 320px;
	height: 500px;
    margin-left: -162px;
    margin-top: -240px;
    background-color: #ccc;
    z-index: 10;
    outline: 9999px solid rgba(0,0,0,0.5);
}

.modal-header {
	/*padding: 20px 0 20px 20px;*/
	/*width: 100%;*/
	/*color: #fefefe;
	background-color: #aaa;*/
}

.modal-header span {
}

.modal-heading {
}

.modal input[type=text], input[type=password] {
	display: block;
	padding: 10px 20px 10px 20px;
	margin: 15px auto;
	font-size: 1.5em;
	font-family: 'Gotham-Light', sans-serif;
}

}

@media screen and (max-width:660px) {

.modal {
    position: fixed;
    text-align: center;
    top: 50%;
    left: 50%;
    width: 260px;
	height: 300px;
    margin-left: -125px;
    margin-top: -240px;
    background-color: #ccc;
    z-index: 10;
    outline: 9999px solid rgba(0,0,0,0.5);
}

.modal-header {
	padding: 20px 0 20px 20px;
	width: 100%;
	color: #fefefe;
	background-color: #aaa;
}

.modal-header span {
}

.modal-heading {
}

.modal input[type=text], input[type=password] {
	display: block;
	padding: 10px 20px 10px 20px;
	margin: 15px auto;
	font-size: 1.5em;
	font-family: 'Gotham-Light', sans-serif;
}

}

