.overlay {
  	position: fixed;
  	top: 0;
  	left: 0;
  	height: 100%;
  	width: 100%;
  	z-index: 10;
  	background-color: rgba(0,0,0,0.5);
}

.forgot {
    padding: 10px 0 20px 0; 
    color: #fefefe;
}

.modal {
    position: fixed;
    text-align: center;
    top: 50%;
    left: 50%;
    width: 400px;
	height: 420px;
    margin-left: -202px;
    margin-top: -240px;
    background-color: #697275;
    z-index: 10;
    outline: 9999px solid rgba(0,0,0,0.5);
}

.modal-header {
    font-size: 12pt;
	height: 45px;
    font-family: 'Gotham', sans-serif;
	color: #fefefe;
	background-color: #35383b;
}

.modal-header span {
    font-family: 'Gotham-Light', sans-serif;
    padding-left: 5px;
    font-size: 12pt;
    margin-top: 15px;
    float: left;
}

.modal-back {
    font-size: 2em;
}

.modal-header img {
    padding-left: 15px;
    padding-top: 13px;
    float: left;
}

.modal-heading {
    font-family: 'Martell', sans-serif;
    font-size: 28px;
    padding-top: 38px;
    padding-bottom: 20px;
    color: #fefefe;
}

.modal input[type=text], input[type=password] {
	display: block;
	padding: 10px 20px 10px 20px;
	margin: 15px auto;
	font-size: 12pt;
    color: #697275;
	font-family: 'Gotham-Bolder', sans-serif;
}

.modal-submit-btn {
    display: block;
    text-align: center;
    margin: 1.6em auto 1.2em auto;
    width: 10em;
    font-size: 16pt;
    padding: 0.6em 0.8em 0.6em 0.8em;
    font-family: 'Gotham-Bolder', sans-serif;
    background-color: #026b5d;
    color: #ffffff;
    text-decoration: none;
}


@media screen and (max-width:1100px) {

    .modal {
        position: fixed;
        text-align: center;
        top: 50%;
        left: 50%;
        width: 450px;
	    height: 420px;
        margin-left: -230px;
        margin-top: -240px;
        background-color: #ccc;
        z-index: 10;
        outline: 9999px solid rgba(0,0,0,0.5);
    }

    .modal-header {
        height: 40px;
        color: #fefefe;
        background-color: #aaa;
    }

    .modal-header span {
        padding-left: 5px;
        padding-top: -5px;
        float: left;
    }

    .modal-header img {
        padding-left: 10px;
        padding-top: 11px;
        float: left;
    }

    .modal-heading {
        font-size: 2.1em;
        padding-top: 24px;
        color: #fefefe;
    }


    .modal input[type=text], input[type=password] {
	   display: block;
	   padding: 13px 10px 10px 10px;
	   margin: 0 auto 8px auto;
	   font-size: 1em;
	   font-family: 'Gotham-Light', sans-serif;
    }

}

@media screen and (max-width:660px) {

    .modal {
        position: fixed;
        text-align: center;
        top: 70%;
        left: 50%;
        width: 260px;
        height: 275px;
        margin-left: -132px;
        margin-top: -240px;
        background-color: #ccc;
        z-index: 10;
        outline: 9999px solid rgba(0,0,0,0.5);
    }

    .modal-header {
        height: 40px;
        color: #fefefe;
        background-color: #aaa;
    }

    .modal-header span {
        padding-left: 5px;
        float: left;
        padding-top: -10px;
        font-size: 1em;
    }

    .modal-header img {
        padding-left: 10px;
        float: left;
    }

    .modal-heading {
        font-size: 1.6em;
        padding-top: 20px;
        color: #fefefe;
    }

    .forgot {
        padding: 1px 0 20px 0; 
        color: #fefefe;
    }

    .modal input[type=text], input[type=password] {
       display: block;
       padding: 9px 12px 7px 12px;
       margin: 0 auto 8px auto;
       font-size: 0.9em;
       font-family: 'Gotham-Light', sans-serif;
    }

    .modal-submit-btn {
        display: block;
        text-align: center;
        margin: 0.8em auto 1.2em auto;
        width: 10em;
        font-size: 11pt;
        padding: 0.6em 0.6em 0.6em 0.6em;
        font-family: 'Gotham-Bolder', sans-serif;
        background-color: #026b5d;
        color: #ffffff;
        text-decoration: none;
    }    

}