.quest-display-styles { 
  -webkit-background-size: cover; 
  -moz-background-size: cover; 
  -o-background-size: cover; 
  background-size: cover; 
  background-color: #e0e0e0;
}

@media screen and (min-width: 800px) and (max-height: 1000px) {

  

}

@media screen and (max-width:800px) {
  


}

@media screen and (max-width:500px) {



}