.mini-logo {
	position: fixed;
	left: 50%;
	margin-left: -16px;
}

.modal-back {
	margin-top: 6px;
}

.quest-list-container {
	width: 1200px;
}

#quest-list-view-header {
	width: 100%;
	z-index: 10;
	position: fixed;
	top: 0;
	padding-top: 6.5px;
	height: 55px;
	background: url(../background.png) no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	background-color: #e0e0e0;
}

.quest-list-social {
	position: absolute;
	right: 30px;
	padding-top: 8px;
	margin-right: 30px;
}

.quest-list-social img {
	padding-left: 5px;
}

.quest-core-container {
	width: 1200px;
	position: absolute;
	left: 50%;
	top: 23%;
	margin-left: -595px;
}

#quest-list-view-heading {
	font-size: 2.3em;
	color: #888;
	padding-bottom: 20px;
	text-align: center;
	font-family: 'Martell', sans-serif;
}

.extra-margin {
	padding-top: 85px;
	padding-bottom: 85px;
}

.dashed-line-div {
	width: 1200px;
	border: 2.2px dashed #bbb;
	margin: 10px auto 10px auto;
}

.border-listing {
	margin: 40px 0 40px 0;
	border: 3px solid #a0a0a0;
}

.quests-list {
	padding: 15px 6px 15px 6px;
}

.quests-list-slider-img {
	box-shadow: 0 8px 10px 5px #c0c0c0;
	height: 267px;
	width: 479px;
	margin: 0 auto;
	border: 1px solid #e0e0e0;
	background-color: #e0e0e0;
}

.section {
	padding-top: 28px;
	height: 440px;
}

.aside {
	padding-right: 30px;
	padding-top: 28px;
	height: 440px;
}

.quests-list-background {
	height: 100vh;
	overflow: visible;
}

.quest-heading-style {
	padding-left: 10px;
	font-size: 2.5em;
	color: #aab3b6;
	font-family: 'Goth-It', sans-serif;
}

@media screen and (min-width:750px) {
  section {
    float: left;
    width: 50%;
    text-align: center;
  }
  aside {
    margin-left: 50%;
  }
}

.quests-list div {
	background-color: #fafafa;
}

.quest-heading {
	font-family: "Gotham-Light", sans-serif;
	margin-left: 5px;
	font-size: 4em;
	color: #026b5d;
}

.quest-info {
	font-family: "Gotham-Light", sans-serif;
	padding: 10px 8px 10px 8px;
	font-size: 0.9em;
}

.quest-info a {
	color: #018d8b;
	text-decoration: none;
}

.quest-register-btn {
	width: 380px;
	font-family: 'Gotham-Bolder', sans-serif;
	text-decoration: none;
	display: block;
	padding: 0.5em;
	background-color: #fefefe;
	color: #026c5f;
	margin: 30px auto 10px auto;
	text-align: center;
	font-size: 1.5em;
	border: 2px solid #026c5f;
}

.extra-padding {
	padding-top: 230px;
}

.item-display-container {
	position: absolute;
	border: 1px solid red;
	left: 50%;
	width: 500px;
	font-family: "Gotham-Light", sans-serif;
	margin-left: -260px;
	z-index: 10;
	color: #fefefe;
}

.dynamic-top-measure {
	top: 40%;
}

@media screen and (min-width: 1100px) and (max-height: 1000px) {

	.quest-list-container {
		width: 950px;
	}	

	.quest-core-container {
		width: 950px;
		top: 13%;
		margin-left: -470px;
	}

	#quest-list-view-heading {
		font-size: 2em;
	}

	.extra-margin {
		padding-top: 15px;
		padding-bottom: 15px;
	}

	.dashed-line-div {
		width: 950px;
		border: 1px dashed #888;
		margin: 10px auto 1px auto;
	}

	.border-listing {
		margin: 30px 0 40px 0;
		border: 3px solid #a0a0a0;
	}	

	.quests-list {
		padding: 15px 6px 15px 6px;
	}

	.quests-list-slider-img {
		height: 220px;
		width: 400px;
		border: 1px solid #e0e0e0;
		background-color: #e0e0e0;
	}

	.section {
		height: 363px;
	}

	.aside {
		height: 363px;
	}

	.quests-list-background {
		height: 100vh;
		overflow: visible;
	}

	.quests-list div {
		background-color: #fafafa;
	}

	.quest-heading {
		font-family: "Gotham-Light", sans-serif;
		margin-left: 5px;
		font-size: 4em;
	}

	.quest-info {
		font-family: "Gotham-Light", sans-serif;
		padding: 10px 8px 10px 8px;
	}

	.quest-info a {
		text-decoration: none;
	}

	.quest-register-btn {
		width: 380px;
		font-family: 'Gotham-Light', sans-serif;
		text-decoration: none;
		display: block;
		padding: 0.5em;
		background-color: #fefefe;
		margin: 26px auto 10px auto;
		text-align: center;
		font-size: 1.5em;
	}

	.extra-padding {
		padding-top: 230px;
	}

	.item-display-container {
		position: absolute;
		border: 1px solid red;
		left: 50%;
		width: 500px;
		font-family: "Gotham-Light", sans-serif;
		margin-left: -260px;
		z-index: 10;
		color: #fefefe;
	}

	.dynamic-top-measure {

		top: 40%;

	}	

}

@media screen and (max-width:1100px) {

	.quests-list-slider-img {
		display:block;
		margin: 0 auto;
	}

	.quest-list-container {
		width: 600px;
	}

	#quest-list-view-header {
		width: 100%;
		z-index: 10;
		position: fixed;
		top: 0;
		padding-top: 6.5px;
		height: 55px;
		background: url(../background.png) no-repeat center center fixed; 
  		-webkit-background-size: cover;
  		-moz-background-size: cover;
  		-o-background-size: cover;
  		background-size: cover;
		background-color: #e0e0e0;
	}	

	.quest-core-container {
		width: 600px;
		position: absolute;
		left: 50%;
		top: 12%;
		margin-left: -295px;
	}

	.extra-margin {
		padding-top: 25px;
		padding-bottom: 25px;
	}

	.dashed-line-div {
		width: 600px;
		border: 1px dashed #888;
		margin: 10px auto 10px auto;
	}

	.border-listing {
		/*margin: 40px 0 40px 0;*/
		border: 3px solid #a0a0a0;
	}	

	.quests-list {
		padding: 15px 6px 15px 6px;
	}

	.section {
		height: 420px;
		/*padding-left: 50px;*/
	}

	#quest-list-view-heading {
		font-size: 2em;
		text-align: center;
		font-family: 'Martell', sans-serif;
	}

	.aside {
		padding: 0 35px 0 35px;
		height: 360px;
	}

	.quests-list-background {
		height: 100vh;
		overflow: visible;
	}

	@media screen and (min-width:750px) {
  		section {
  			float: none;
  			width: 100%;
    		text-align: center;
  		}
  		aside {
  			width: 100%;
  			margin-left: 0;
  		}
	}

	.quests-list div {
		background-color: #fafafa;
	}

	.quest-heading {
		font-family: "Gotham-Light", sans-serif;
		margin-left: 5px;
		font-size: 2.5em;
	}

	.quest-info {
		font-family: "Gotham-Light", sans-serif;
		padding: 10px 8px 10px 8px;
	}

	.quest-info a {
		text-decoration: none;
	}

	.quest-register-btn {
		width: 380px;
		font-family: 'Gotham-Light', sans-serif;
		text-decoration: none;
		display: block;
		padding: 0.5em;
		background-color: #fefefe;
		margin: 40px auto 10px auto;
		text-align: center;
		font-size: 1.5em;
	}

	.extra-padding {
		padding-top: 230px;
	}

	.item-display-container {
		position: absolute;
		border: 1px solid red;
		left: 50%;
		width: 500px;
		font-family: "Gotham-Light", sans-serif;
		margin-left: -260px;
		z-index: 10;
		color: #fefefe;
	}

	.dynamic-top-measure {

		top: 5%;

	}	

}

@media screen and (max-width: 630px) {

	.quest-list-social {
		position: absolute;
		right: 5px;
		margin-bottom: -15px;
	}

	.quest-list-social img {
		padding-left: 5px;
	}

	.quest-list-container {
		margin-top: -50px;
		width: 320px;
	}

	#quest-list-view-header {
		width: 100%;
		z-index: 10;
		position: fixed;
		top: 0;
		padding-top: 6.5px;
		height: 55px;
		background: url(../background.png) no-repeat center center fixed; 
  		-webkit-background-size: cover;
  		-moz-background-size: cover;
  		-o-background-size: cover;
  		background-size: cover;
		background-color: #e0e0e0;
	}

	.quests-list-slider-img {
		height: 167px;
		width: 282px;
		margin: 0 auto;
		border: 1px solid #e0e0e0;
		background-color: #e0e0e0;
	}	

	.quest-heading-style {
		padding-left: 10px;
		font-size: 1.7em;
		color: #aab3b6;
		font-family: 'Goth-It', sans-serif;
	}

	.quest-core-container {
		width: 320px;
		position: absolute;
		left: 50%;
		top: 20%;
		margin-left: -160px;
	}

	.extra-margin {
		padding-top: 25px;
		padding-bottom: 25px;
	}

	.dashed-line-div {
		display: none;
		width: 290px;
		border: 1px dashed #888;
		margin: 10px auto 0 auto;
	}

	.border-listing {
		/*margin: 40px 0 40px 0;*/
		border: 3px solid #a0a0a0;
	}	

	.quests-list {
		padding: 15px 6px 15px 6px;
	}

	.section {
		height: 280px;
	}

	#quest-list-view-heading {
		font-size: 2em;
		text-align: center;
		font-family: 'Martell', sans-serif;
	}

	.aside {
		padding: 0 5px 0 5px;
		height: 380px;
	}

	.quests-list-background {
		height: 100vh;
		overflow: visible;
	}

	.quests-list div {
		background-color: #fafafa;
	}

	.quest-heading {
		font-family: "Gotham-Light", sans-serif;
		margin-left: 5px;
		font-size: 1.6em;
	}

	.quest-info {
		font-family: "Gotham-Light", sans-serif;
		padding: 10px 8px 10px 8px;
	}

	.quest-info a {
		color: #10b5b8;
		text-decoration: none;
	}

	.quest-register-btn {
		width: 280px;
		font-family: 'Gotham-Light', sans-serif;
		text-decoration: none;
		display: block;
		padding: 0.5em;
		background-color: #fefefe;
		margin: 30px auto 0 auto;
		text-align: center;
		font-size: 1em;
	}

	.extra-padding {
		padding-top: 230px;
	}

}