.overlay-display {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    background-color: rgba(0,0,0,0.6);
}

.display-heading {
  font-size: 1.2em; 
  font-family: 'Goth-Reg-It', sans-serif;
  padding: 20px 0 10px 0;
}

.display-market-container {
  width: 20em;
  z-index: 10;
  position: absolute;
  bottom: 45px;
  left: 50%;
  text-align: center;
  margin-left: -158px;
}

.download {
  font-family: 'Goth-Bolder', sans-serif;
  padding: 8px 0 8px 0;
  color: #fefefe;
}

.market-img-container {

}

.display-sub-heading {
  color: #aab3b6;
  font-family: 'Goth-It', sans-serif;
  font-size: 2.5em;
}

.display-msg {
  font-family: 'Martell', sans-serif;
  font-size: 60pt;
  padding: 50px 0 20px 0;
}

.back-btn {
  display: block;
  text-align: center;
  margin: 1.2em auto 1.2em auto;
  width: 10em;
  font-size: 16pt;
  padding: 0.6em 0.8em 0.6em 0.8em;
  font-family: 'Gotham-Bolder', sans-serif;
  background-color: #026b5d;
  color: #ffffff;
  text-decoration: none;
}

.item-display-container {
  border: none;
  position: absolute;
  left: 50%;
  width: 1100px;
  height: 350px;
  font-family: "Gotham-Light", sans-serif;
  margin-left: -560px;
  z-index: 10;
  color: #fefefe;
}

.dynamic-top-measure {
  top: 40%;
}   

.quest-display-styles { 
  -webkit-background-size: cover; 
  -moz-background-size: cover; 
  -o-background-size: cover; 
  background-size: cover; 
  background-color: #e0e0e0;
}

@media screen and (min-width: 800px) and (max-height: 1000px) {

  .item-display-container {
    position: absolute;
    left: 50%;
    width: 820px;
    font-family: "Gotham-Light", sans-serif;
    margin-left: -410px;
    z-index: 10;
    color: #fefefe;
  }

  .dynamic-top-measure {
    top: 30%;
  } 

  .display-msg {
    font-family: 'Martell', sans-serif;
    font-size: 50pt;
    padding: 50px 0 20px 0;
  }

}

@media screen and (max-width:800px) {
  
  .display-heading {
    font-size: 1em; 
    padding: 15px 0 30px 0;
  }

  .display-sub-heading {
    font-size: 3.5em;
  }

  .display-msg {
    padding: 20px 0 20px 0;
  }

  .back-btn {
    display: block;
    text-align: center;
    margin: 1.2em auto 1.2em auto;
    width: 14em;
    font-size: 12pt;
    padding: 0.6em 0.8em 0.6em 0.8em;
    font-family: 'Gotham-Bolder', sans-serif;
    background-color: #026b5d;
    color: #ffffff;
    text-decoration: none;
  }

  .item-display-container {
    height: 250px;
    position: absolute;
    left: 50%;
    width: 500px;
    font-family: "Gotham-Light", sans-serif;
    margin-left: -260px;
    z-index: 10;
    color: #fefefe;
  }

  .dynamic-top-measure {
    top: 20%;
  }  

}

@media screen and (max-width:570px) {

  .display-heading {
    font-size: 0.8em; 
    padding: 10px 0 25px 0;
  }

  .display-sub-heading {
    font-size: 2.5em;
  }

  .display-msg {
    padding: 15px 0 15px 0;
  }

  .back-btn {
    display: block;
    text-align: center;
    margin: 1.2em auto 1.2em auto;
    width: 15em;
    font-size: 8pt;
    padding: 0.6em 0.8em 0.6em 0.8em;
    font-family: 'Gotham-Bolder', sans-serif;
    background-color: #026b5d;
    color: #ffffff;
    text-decoration: none;
  }

  .item-display-container {
    height: 200px;
    position: absolute;
    left: 50%;
    width: 300px;
    font-family: "Gotham-Light", sans-serif;
    margin-left: -150px;
    z-index: 10;
    color: #fefefe;
  }

  .dynamic-top-measure {
    top: 20%;
  } 

}