<!doctype html>

<html class="no-js" lang="en">
    
    <head>

        <meta charset="utf-8">
        
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        
        <title>Questalot | ...</title>
        
        <meta name="description" content="Questalot">
        
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/reset.css">
        <link rel="stylesheet" href="css/core.css">
        <link rel="stylesheet" href="css/default.view.css">
        <link rel="stylesheet" href="css/footer.css">
        <link rel="stylesheet" href="css/modal.css">
        <link rel="alternate" href="slick/slick/slick.css">
        <link rel="stylesheet" href="css/quest.list.view.css">
        <link rel="stylesheet" href="css/quest.display.view.css">

        <style>
            
            /* TEST STYLES... */
            
            .slider-container {
                /*height: 350px;
                width: 450px;*/
                border: 1px solid #a0a0a0;
            }

            .main-content {
                /*height: 350px;
                width: 450px;*/
            }

        </style>
        <script src="bower_components/jquery/dist/jquery.min.js"></script>
        <script src="bower_components/underscore/underscore.js"></script>
        <script src="bower_components/backbone/backbone.js"></script>
        
        <!-- ADD PARSEBONE BOILERPLATE STUFF... -->
        <!-- ADD PARSE SDK... -->
        <!-- ADD PARSE CLOUD CODE SETUP... -->
    
    </head>
    <body>
        
        <!--[if lt IE 8]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        
        <div id="spa"></div>

        <!-- DEFAULT TEMPLATE... -->

        <script type="text/template" id="default-template">
            
            <div class="default-full-background-image view-container">
                
                <div id="social-media-icon-container">
                    
                    <a href="<%= socialTwitterLink %>"><img src="<%= socialTwitterImg %>" alt="Twitter"></a>
                    
                    <a href="<%= socialFacebookLink %>"><img style="padding-left: 8px;" src="<%= socialFacebookImg %>" alt="Facebook"></a>
                
                </div>
                
                <div id="default-styles-container">
                    
                    <img style="margin: 0 auto;" id="default-logo" style="" src="default-logo.png" alt="Questalot">

                    <hgroup>    
                    
                        <h1 id="primary-heading"><%= primaryHeading %></h1>
                    
                        <h2 style="color: #fefefe;" id="primary-sub-heading"><%= primarySubHeading %><h2>
                
                    </hgroup>
                
                <a href="<%= questBtnLink %>" id="quest-button"><%= questBtnText %></a>
                
                </div>
                
                <footer class="footer-subview text-align-center">
                         
                </footer>
            
            </div>
        
        </script>

        <!-- FOOTER TEMPLATE... -->

        <script type="text/template" id="footer-drawer-template">
            
            <div class="overlay display-none"></div>
            
            <!--<div id="facebook-modal" class="modal display-none">
                <header class="modal-header">
                    <button class="modal-btn display-inline-block">Back</button>
                </header>
                <h2 class="modal-heading">Sign Up with Facebook</h2>
                <input placeholder="Email" type="text">
                <input placeholder="Password" type="password">
                <button class="submit-modal-btn">Sign Up</button>
            </div>-->
            
            <div id="email-modal" class="modal display-none">
                
                <header class="modal-header">
                
                    <img src="back-arrow.png" alt="">
                
                    <span style="padding-left: 5px; text-align: left; font-size: 1.4em;">Back<span>
                
                </header>
                
                <h2 style="text-align: center;" class="modal-heading">Sign Up with Email</h2>
                
                <input placeholder="Name" type="text">
                
                <input placeholder="Email" type="text">
                
                <input placeholder="Password" type="password">
                
                <button style="margin: 0 auto;" class="submit-modal-btn">Sign Up</button>
           
            </div>
            
            <div id="bi-modal" class="modal display-none">
           
                <header class="modal-header">
           
                    <button class="modal-btn">Back</button>
           
                </header>
           
                <h2 class="modal-heading">Log In with Facebook or Email</h2>
           
                <input placeholder="Email" type="text">
           
                <input placeholder="Password" type="password">
           
                <button class="submit-modal-btn">Log In</button>
           
            </div>

            <div id="footer-button">
            
                <img src="<%= footerArrowImg %>" alt="Arrow...">
            
            </div>
            
            <h4 style="font-size: 1em;"><%= logSignText %></h4>
            
            <div id="footer-subview-container-one" class="display-none">
                
                <!--<button id="facebook-sign-up-btn" class="blue-background-color"><%= facebookBtnText %></button>
            
                <div id="footer-or">
                    <span class=""><%= orText %></span>
                </div>-->
                
                <button style="font-family: 'Gotham-Bolder', sans-serif;" id="email-sign-up-btn" class="white-background-color"><%= emailBtnText %></button>
                
                <br>

                <!--<span class="notice-msg"><%= noticeText %></span>-->

            </div>

            <div id="footer-subview-container-two" class="display-none">
                
                <span><%= signedInText %></span>
                
                <span id="bi-log-in-modal" style="font-family: 'Gotham-Bolder', sans-serif; cursor: pointer; color: #026b5d;"><%= logInText %></span>
            
            </div>
        
        </script>
        
        <!-- QUEST LIST TEMPLATE... -->

        <script id="quests-list-view-template" type="text/template">

        <div class="quests-list-background extra-margin">
           
            <header id="quest-list-view-header">
                
                <div class="mini-logo"><img src="mini-logo.png" alt="Logo"></div>
            
            </header>

            <div class="quest-core-container">

                <h1 id="quest-list-view-heading">Register for a Quest</h1>
            
                <div class="dashed-line-div"></div>
            
                <div class="quest-list-container" style="margin-bottom: 80px;">   
            
                    <div class="quests-list">
                
                    </div>
                        
                </div>
            
            </div>
            
            <footer class="footer-subview text-align-center">
                
            </footer>
        
        </div>

        </script>

        <!-- QUEST ITEM TEMPLATE... -->

        <script id="quest-item-view-template" type="text/template">
            
            <div class="border-listing">  
            
            <section class="section">
                
                <div class="img-container">
                    <img class="quests-list-slider-img" src="<%= sliderImgOne %>" alt="Quest Image..." />
                </div>

                <a class="quest-register-btn" href="#/load-quest/<%= hash %>">Register for <%= name %></a>

            </section>

            <aside class="aside">
                
                <h1 class="quest-heading"><%= name %></h1>
               
                <p class="quest-info"><%= info %></p>
               
                <p class="quest-info"><a href=""><%= link %></a></p>
               
                <p class="quest-info"><%= rules %></p>
               
                <p class="quest-info"><%= prizes %></p>
           
            </aside>
           
            </div>

        </script>

        <!-- QUEST DISPLAY TEMPLATE... -->

        <script id="quest-display-view-template" type="text/template">

            <div class="overlay" style="display: block;"></div>
                
                <div class="view-container quest-display-styles" style="background: url(<%= attributes.img %>) no-repeat center center;">
                
                    <div class="item-display-container dynamic-top-measure">
                
                        <p class="display-heading text-align-center">Congratulations, you just registered for</p>
                
                        <h1 class="text-align-center display-sub-heading"><%= attributes.name %></h1>
                
                        <h2 class="display-msg text-align-center">Your Quest has just begun!</h2>

                        <a class="back-btn" href="#/load-quests">Back to Quest Library...</a>

                    </div>

                </div>
            
            </div>

        </script>

        <!-- SPINNER TEMPLATE... -->

        <script id="template-spinner" type="text/template">

            <img class="spinner-gif" height="150" width="150" src="q.gif" alt="Spinner...">

        </script>

        <!--<script src="slick/slick/slick.min.js"></script>-->

        <script src="js/core.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <!--<script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>-->

    </body>

</html>

