<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Questalot...</title>
        <meta name="description" content="Questalot | Real World Quests">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="css/core.css">
        <script src="bower_components/jquery/dist/jquery.min.js"></script>
        <script src="bower_components/underscore/underscore.js"></script>
        <script src="bower_components/backbone/backbone.js"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div id="spa"></div>
        
        <script type="text/template" id="home-view-template">
            <div class="overlay"></div>
            <div id="facebook-modal" class="modal extra-margin-top">
                <header class="modal-header">
                    <button class="modal-btn">Back</button>
                </header>
                <!-- color: #fff; 14pt Gotham all cap Reg... -->
                <span>Facebook Sign Up</span>
                <input placeholder="Email" type="text">
                <input placeholder="Password" type="text">
                <button class="submit-modal-btn">Sign Up</button>
            </div>
            <div id="email-modal" class="modal extra-margin-top">
                <header class="modal-header">
                    <button class="modal-btn">Back</button>
                </header>
                <h2>Email...</h2>
                <!-- color: #888; 14pt Gotham all cap Reg...  -->
                <!-- text under facebook button 12pt color: #fff; gotham reg. 
                <span>Email Sign Up</span>
                <input placeholder="Email" type="text">
                <input placeholder="Password" type="text">
                <button class="submit-modal-btn">Sign Up</button>
            </div>

            <!-- footer 'OR' 24pt gotham reg #6b6a6a; -->

            <!-- Make just a text link yo... -->
            <!-- 12pt Gotham reg color: #6b6a6b;... -->
            <!-- 12pt Gotham reg all cap color: #027970; -->
            <div id="bi-modal" class="modal extra-margin-top">
                <header class="modal-header">
                    <button class="modal-btn">Back</button>
                </header>
                <h2>Log In...</h2>
                <span>Facebook or Email</span>
                <input placeholder="Email" type="text">
                <input placeholder="Password" type="text">
                <button class="submit-modal-btn">Log In</button>
            </div>
            <div class="home-view-container-full-background-image view-container text-align-center">
                <div id="social-media-icon-container">
                    <a href="https://www.twitter.com"><img src="twitter.png" alt="Twitter"></a>
                    <a href="https://www.facebook.com"><img src="facebook_1.png" alt="Facebook"></a>
                </div>
                <div id="logo-container">
                    <img height="100" width="100" src="questalot-icon.png" alt="Questalot">
                </div>
                <hgroup>
                    <h1 style="color: #888;" id="primary-heading">Explore More</h1>
                    <!-- 14pt Gotham Light... -->
                    <h2 style="color: #fefefe;" id="primary-sub-heading">Real World Quests...</h2>
                </hgroup>
                <!-- 24pt Gotham All Cap... -->
                <a href="/#load-quests" id="quest-button">Quest Now!</a>
                <footer style="color: #888;" id="home-view-footer" class="text-align-center">
                    <div id="footer-button">
                        <div style="display: inline-block;">^</div>
                    </div>
                    <!-- 14pt all cap Gotham Light -->
                    <h4>Log In / Sign Up</h4>
                    <button id="facebook-sign-up-btn" class="display-none home-view-facebook-button">Sign Up with Facebook</button>
                    <span class="display-none or-padding">OR</span>
                    <button id="email-sign-up-btn" class="display-none">Sign Up with Email</button>
                    <span class="notice display-none">We will not post on your profile or email you about updates without your permission.</span>
                    <button id="bi-log-in-modal" class="display-none">Log In</button>
                </footer>
            </div>
        
        </script>

        <!-- Most should be removed from here... -->

        <script id="quests-list-view-template" type="text/template">

            <div class="overlay"></div>
            <div id="facebook-modal" class="modal">
                <header class="modal-header">
                    <button class="modal-btn">Back</button>
                </header>
                <span>Facebook Sign Up</span>
                <input placeholder="Email" type="text">
                <input placeholder="Password" type="text">
                <button class="submit-modal-btn">Sign Up</button>
            </div>
            <div id="email-modal" class="modal">
                <header class="modal-header">
                    <button class="modal-btn">Back</button>
                </header>
                <h2>Email...</h2>
                <span>Email Sign Up</span>
                <input placeholder="Email" type="text">
                <input placeholder="Password" type="text">
                <button class="submit-modal-btn">Sign Up</button>
            </div>
            <div id="bi-modal" class="modal">
                <header class="modal-header">
                    <button class="modal-btn">Back</button>
                </header>
                <h2>Log In...</h2>
                <span>Facebook or Email</span>
                <input placeholder="Email" type="text">
                <input placeholder="Password" type="text">
                <button class="submit-modal-btn">Log In</button>
            </div>
            <header id="quest-list-view-header">
                <a href="/#" style="text-decoration: none;" class="header-back-btn">Back</a>
            </header>
            <h1 id="quest-list-view-heading">Register for a Quest!</h1>
            <div class="dashed-line-div"></div>
            <div class="quest-list-container">   
                <div class="quests-list"></div>
                <!--<div class="library-box"></div>-->
            </div>
            <footer id="home-view-footer" class="text-align-center">
                <div id="footer-button">
                    <div style="display: inline-block;">^</div>
                </div>
                <h4>Log In / Sign Up</h4>
                <button id="facebook-sign-up-btn" class="display-none home-view-facebook-button">Sign Up with Facebook</button>
                <span class="display-none or-padding">OR</span>
                <button id="email-sign-up-btn" class="display-none">Sign Up with Email</button>
                <span class="notice display-none">We will not post on your profile or email you about updates without your permission.</span>
                <button id="bi-log-in-modal" class="display-none">Log In</button>
            </footer>

        </script>

        <script id="quest-display-view-template" type="text/template">

            <div class="overlay" style="display: block;"></div>
            <div style="display: block; position: absolute; left: 45%; width: 280px; height: 280px; margin-left: -125px; color: #131313; text-align: center; z-index: 10; color: #fefefe;">
                <p style="font-size: 0.9em;" class="text-align-center">Congratulations, you just registered for</p>
                <h1 style="font-size: 1.2em;" class="text-align-center"><%= attributes.name %></h1>
                <h2 style="font-size: 1.5em;" class="text-align-center">Your Quest has just begun!</h2>
                <a class="quest-register-btn text-align-center" style="" href="/#load-quests">Back to Quest Library</a>
            </div>

        </script>

        <!-- Refactor as subview... -->

        <script id="template-spinner" type="text/template">

            <img src="ajax_loader_gray_48.gif" alt="Spinner...">

        </script>

        <script id="quest-item-view-template" type="text/template">

            <div style="margin-bottom: 3em; background: url(<%= img %>) no-repeat center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-color: #e0e0e0; height: 200px;" class="quests-list-slider-img">
            </div>
            <h1 class="quest-heading"><%= name %></h1>
            <div class="quest-stats-container-slider">
                
            </div>
            <p class="quest-info"><%= info %></p>
            <p class="quest-info"><a href=""><%= link %></a></p>
            <p class="quest-info"><%= rules %></p>
            <p class="quest-info"><%= prizes %></p>
            <!--<span class="add-to-library">Add to Quest Library</span>-->
            <a class="quest-register-btn" href="#/load-quest/<%= hash %>">Register for <%= name %></a>

        </script>

        <script src="js/core.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <!--<script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>-->
    </body>
</html>